.cool-feedback-notice-wrapper.notice.notice-info.is-dismissible {
    padding: 5px !important;
    display: table;
    width: calc(100% - 10px);
    max-width: 870px;
    clear: both;
    border-radius: 5px;
    box-sizing: border-box;
}
.cool-feedback-notice-wrapper .logo_container {
    width:80px;
    display:inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.cool-feedback-notice-wrapper .logo_container img {
    width:100%;
    height:auto;
}
.cool-feedback-notice-wrapper .message_container {
    display: table-cell;
    padding: 5px 22px 5px 5px;
    vertical-align: middle;
}
.cool-feedback-notice-wrapper ul li {
    float: left;
    margin: 0px 5px;
}
.clrfix{
    clear:both;
}

@media (min-width: 1024px) {
    .lsdp-card-wrapper p.lsdp-admin-container {
      display: inline-flex !important;
    gap: 6px !important;
    align-items: center;
    margin: 0px;
}
}
@media (max-width: 1024px) {
    .lsdp-card-wrapper p.lsdp-admin-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
}
p.lsdp-admin-container .dupcap-install-plugin{
    margin: 0px !important;
    margin-top: 10px !important;
    font-size: 12px;
    min-height: 34px;
}
}